@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
  background-color: #f9fafb; 
  color: #1f2937;            
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}


html.dark body {
  background-color: #0b1120; 
  color: #ffffff;
}